@page "/"

<PageTitle>Index</PageTitle>

<h1>Computer Vision</h1>

Enter an Image url to perform an analysis, or a description text to generate an Image.
<br>
<input type="text" id="myInput" name="myInput" />
<br><br>
<button class="btn btn-primary">Analyse</button>
<button class="btn btn-primary">Generate</button>
<br><br>

<footer>Challenge Project by Andabe from Microsoft.</footer>